.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 10px auto;
  text-align: center;
  font-family: 'Sansita Swashed', serif;
  text-shadow: 2px 2px 2px grey;
}

#color-panel {
  width: 200px;
  height: 200px;
  margin: 10px auto;
  box-shadow: 2px 2px 2px grey;
  border-radius: 6px;
}

.red {
  background-color: #FF101F;
}

.yellow {
  background-color: #ECD444;
}

.blue {
  background-color: #0D00A4;
}

.black {
  background-color: #000000;
}

.green {
  background-color: #248232;
}

button {
  border-radius: 100%;
  border: 1px solid black;
  box-shadow: 2px 2px 2px grey;
  height: 50px;
  width: 50px;
  margin: 5px;
  opacity: 1;
  transition: all 0.2s;
}

button:hover {
  opacity: 0.8;
}

button:focus {
  outline: 0px;
}
